body {
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  padding: 0;
  box-sizing: border-box;
}

#topo {
  width: 100%;
  background-color: coral;
  height: 8vh;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
}

@media (max-width: 768px) {
  #topo {
    height: 32vh;
  }
}

.container-app {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0px auto;
  padding: 10px 0;
  max-width: 1000px;
}

.busca {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.busca div {
  padding: 0px 5px;
  min-width: 300px;
  flex: 1;
}

.busca input {
  outline: none !important;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem !important;
  text-align: center;
  height: 3.5rem !important;
  color: dimgray;
  min-width: 200px;
}

.busca input:focus {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#divBuscaCidade {
  flex: 2;
}

@media (max-width: 999px) {
  #divBuscaCidade {
    min-width: 100%;
    width: 100%;
  }

  .busca div {
    padding: 5px 5px;
  }
}

@media (max-width: 769px) {
  .busca input {
    font-size: 1rem !important;
    height: 2.5rem !important;
  }
}

#checkout,
#checkin {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#checkout span,
#checkin span {
  visibility: hidden;
  position: relative;
  font-size: 0.8rem;
  font-weight: 600;
  color: red;
  height: 1rem;
}

@media (max-width: 769px) {
  #checkout span,
  #checkin span {
    display: none;
  }
}

#menu-hamburger {
  display: none;
}

@media (max-width: 768px) {
  #menu-hamburger {
    display: block;
    width: 100%;
    padding: 0 10px;
    cursor: pointer;
  }
}

.filtro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px;
  width: 100%;
}
.filtro h5 {
  min-width: 100%;
  width: 100%;
  margin-bottom: 10px;
}
.filtro * {
  min-width: 100px;
  flex: 1;
  margin: 0px 5px;
}

@media (max-width: 768px) {
  .filtro {
    display: none;
  }
}

#quartos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quarto {
  border-radius: 4px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  height: 225px;
  margin: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex: 1;
  position: relative;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.infoquarto {
  padding: 0 5px;
  font-weight: 900;
  font-size: 1.8rem;
  color: white;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  align-items: flex-end;
  border-radius: 3px;
}

.infoquarto:hover {
  color: rgb(20, 20, 20);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.55);
}

.tipo {
  padding: 0 5px;
  font-weight: 900;
  font-size: 1rem;
  color: white;
  width: 35%;
  height: 20px;
  position: absolute;
  top: 0px;
  text-align: left;
  background-color: coral;
  border-radius: 3px;
}

#modalContent {
  width: 100%;
  height: 50vh;
}
@media (max-width: 600px) {
  #modalContent {
    width: 90%;
  }
}

.price {
  flex: 1;
  font-size: 1.5rem;
}

.cidade {
  flex: 1;
  position: relative;
  bottom: 0px;
  right: 0px;
  font-size: 12px;
}

.cidade p {
  margin-bottom: 2px;
  text-transform: capitalize;
}

#menu-lateral-mobile {
  display: none;
  height: 100vh;
  z-index: 1001;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  padding: 20px;
  position: fixed;
}

#menu-lateral-mobile .filtro * {
  margin-top: 10px !important;
}

#menu-lateral-mobile .filtro input {
  min-width: 300px;
  width: 100%;
  font-size: 1rem !important;
  height: 2.5rem !important;
  margin: 5px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10vh;
  background-color: coral;
  position: relative;
}
